@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../../vendor/Background.jpg);
  font-family: 'Questrial', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  margin-bottom: 170px;
}

h1 {
  color: #fff;
}

.screen {
  cursor: pointer;
  width: 60%;
  background-color: #000 !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.controls {
  background: #333;
  color: #fff;
  width: 60%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.controls .btn {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}

.controls .fa-play {
  color: #28a745;
}

.controls .fa-play:hover,
.controls .fa-pause:hover {
  color: #1e7b34;
}


.controls .fa-stop {
  color: #dc3545;
}

.controls .fa-stop:hover {
  color: #ad1f2d;
}

.controls .fa-pause {
  color: #fff;
}

.controls .timestamp {
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
}

input[type='range']::-webkit-slider-thumb:hover {
  background: #28a745;
  border-radius: 3px;
  transform: scale(1.1);
  transition: transform 0.2s;
}

.btn:focus {
  outline: 0;
}

@media (max-width: 800px) {

  .screen,
  .controls {
    width: 90%;
  }
}